# Python Looping

## 1. For Loop

In [2]:
# Bikin Sequence
fruits = ["Pisang", "Anggur", "Strawberry", "Apel"]
print(fruits)

['Pisang', 'Anggur', 'Strawberry', 'Apel']

In [5]:
# Do fro Loops
for x in fruits:
    print(f"Nama Buah = {x}")

Nama Buah = Pisang
Nama Buah = Anggur
Nama Buah = Strawberry
Nama Buah = Apel

## Range Method

In [11]:
himpunan_bilangan = range(10)

for i in himpunan_bilangan:
    print(f"Bilangan ke : {i}")

Bilangan ke : 0
Bilangan ke : 1
Bilangan ke : 2
Bilangan ke : 3
Bilangan ke : 4
Bilangan ke : 5
Bilangan ke : 6
Bilangan ke : 7
Bilangan ke : 8
Bilangan ke : 9

In [13]:
bilangan = range(1,11)
for x in bilangan:
    print (f"Bilangan ke : {x}")

Bilangan ke : 1
Bilangan ke : 2
Bilangan ke : 3
Bilangan ke : 4
Bilangan ke : 5
Bilangan ke : 6
Bilangan ke : 7
Bilangan ke : 8
Bilangan ke : 9
Bilangan ke : 10

In [14]:
numbers = range(2,50,2)
for x in numbers:
    print(f"Bilangan ke : {x}")

Bilangan ke : 2
Bilangan ke : 4
Bilangan ke : 6
Bilangan ke : 8
Bilangan ke : 10
Bilangan ke : 12
Bilangan ke : 14
Bilangan ke : 16
Bilangan ke : 18
Bilangan ke : 20
Bilangan ke : 22
Bilangan ke : 24
Bilangan ke : 26
Bilangan ke : 28
Bilangan ke : 30
Bilangan ke : 32
Bilangan ke : 34
Bilangan ke : 36
Bilangan ke : 38
Bilangan ke : 40
Bilangan ke : 42
Bilangan ke : 44
Bilangan ke : 46
Bilangan ke : 48

## While Loop

In [19]:
i = 1
# Prin sampai nilai 25
while i<=6:
    print(i)
    i+=1
    print('next')

1
next
2
next
3
next
4
next
5
next
6
next

## Continue

In [30]:
bil = range(30)
for x in bil:
    if x % 2==1:
        continue
    print(x)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

## Break

In [31]:
for x in bil:
    if x ==25:
        break
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [53]:
bil = range(31)
input_bil = int(input("Masukkan bilangan yg ingin di cari:"))
print(f"bilangan yg di cari adalah: {input_bil}, pls wait" )
for x in bil:
    if x == input_bil:
        print(f"Selamat, bilangan {input_bil} berhasil di temukan")
        break

Masukkan bilangan yg ingin di cari:5
bilangan yg di cari adalah: 5, pls wait
Selamat, bilangan 5 berhasil di temukan

In [60]:
jumlah = int(input("Masukan jumlah nama peserta :"))
print(f"jumlah nama: {jumlah}")
i = 1
nama =[]
usia = []
while i<=jumlah:
    nama.append(input(f"masukkan nama ke:-{i}  "))
    usia.append(input(f"masukan usia peserta:{i} "))
    i+=1
print(f"Daftar nama peserta adalah {nama} {usia}")

Masukan jumlah nama peserta :3
jumlah nama: 3
masukkan nama ke:-1  Ari
masukan usia peserta:1 34
masukkan nama ke:-2  Adi
masukan usia peserta:2 25
masukkan nama ke:-3  Ali
masukan usia peserta:3 45
Daftar nama peserta adalah ['Ari', 'Adi', 'Ali'] ['34', '25', '45']

## Nested Loop

In [61]:
for i in range(2):
    for j in range(3):
        print(f"i{i},j:{j}", end="")
        print()

i0,j:0
i0,j:1
i0,j:2
i1,j:0
i1,j:1
i1,j:2

In [67]:
li =[
   ["Adi","Irma","Anisa"],
    ["Bogor", "Jakarta", "Semarang"]
]

for x in li:
    for i in x:
        print(f"Hasil: {i}")
    print()

Hasil: Adi
Hasil: Irma
Hasil: Anisa

Hasil: Bogor
Hasil: Jakarta
Hasil: Semarang

In [74]:
## Quizz

x = [1, 2, 3, 4, 5]
y = [2, 4, 3, 5, 6]
z = 0

for i in x:
    for j in y:
        if i==j:
            z+=1
print(z)

4

In [75]:
x = [1, 2, 3, 4, 5]
y = [2, 4, 3, 5, 6]
z = 0

for i in x:
    for j in y:
        if i==j:
            print(f"i:{i}, j:{j}")
            z+=1
            print(z)

i:2, j:2
1
i:3, j:3
2
i:4, j:4
3
i:5, j:5
4

## Lis Comprehension

In [78]:
random_bil = range (11)
print (type(random_bil))
print (random_bil)

list_random_bil=list(random_bil)
print(type(list_random_bil))
print(list_random_bil)

<class 'range'>
range(0, 11)
<class 'list'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
##insert list

list_random_bil.insert(1, "satu")
print(list_random_bil)

[0, 'satu', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
## Removing elements

b_list=[1,2,3,4,"Good"]
b_list.pop(1)
print(b_list)

b_list.remove("Good")
print(b_list)

[1, 3, 4, 'Good']
[1, 3, 4]

In [88]:
b_list

[1, 3, 4]

In [90]:
cities = ["Jakarta","Medan", "Kuala Lumpur","Singapore"]
nama_kota = input("Masukkan nama kota:")
if nama_kota in cities:
    print(f"Kota {nama_kota}, ditemukan")
else:
    print(f"Kota {nama_kota}, tidak di temukan")

Masukkan nama kota:Medan
Kota Medan, ditemukan

In [91]:
## extend
cities.extend(["Bandung", "Mandalika"])

In [92]:
cities

['Jakarta', 'Medan', 'Kuala Lumpur', 'Singapore', 'Bandung', 'Mandalika']

In [94]:
##sorting
a = [1,4,7,9,54,3]
a.sort()
print(a)

b = ["saw", "Machines", "small", "Foxes"]
b.sort(key=len)
print(b)

[1, 3, 4, 7, 9, 54]
['saw', 'small', 'Foxes', 'Machines']